<div class="wordEntry">
<div class = "page-header"> <h2>Word Game App</h2>
</div> 

<h3 class="txt"> {{model.mangledWord}} </h3> 
<p class="txt"> What is the unmangled word? </p>
<div class="inputContainer">
<input id = "Name" type="text" class="form-control" placeholder = "Insert your Name"  ng-model= "name" ng-focus="onFocus()"></input>
<input id= "Word" type="text"  ng-model = "word" class="form-control" placeholder = "Type the correct word"></input>
<a id="Submit" class="btn btn-primary btn-block" disabled ng-click="submit()">Submit </a>
</div>
<div class="txt" id="counter">00:40</div>

</div>